/* Cascading stylesheet for the website */

/* Text inside these asterisks and slashes are comments for human */

  a {
    color: rgb(158, 18, 223);
    text-decoration: none; /* This means we do not want hyperlinks to be underlined */
  }

  a:hover {
    color: red;
    text-decoration: none; /* This means we do not want hyperlinks to be underlined */
  }

  body {
    background-image: url('https://images.squarespace-cdn.com/content/v1/53aae4c6e4b06e3a3ae91bdd/1427724883533-38T9PP3Y5BWQMVFZITZB/ke17ZwdGBToddI8pDm48kDu-OvKe9-yMBj32JSWknrt7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UZNNUmsixw3l8iPy3vgDTPMwfMBbaTJA8uE3oWp8JUwqzkQXHaRS3Yhvu0vV6Jt1AA/429e418435009a468550753a18c22787.jpg?format=2500w');
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
 }

  div{
    background-image: url('https://i.imgur.com/7Prf6.jpg');
    background-color: #111111;
    margin-left: 10%;
	  margin-right: 10%;
	  border:solid;
	  border-radius: 10px;
	  padding-bottom: 10px;
  }

  footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  h1 {
    color:orange;
    margin-bottom: 0.5rem;
    margin-top: 3rem;
   }

  h2 {
    text-decoration: underline;
    color: rgb(39, 212, 160);
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
   }

  h3 {
    color:orange  ;
    margin-bottom: 0;
    margin-top: 2rem;
  }

  h4 {
    color: powderblue;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }

  h5 {
    color: ivory;
    margin-top: 0.5rem;
  }

  hr {
    color: yellowgreen;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  ul {
    color: rgb(200, 226, 84); 
    display: table;
    margin: 0 auto;
    text-align: left;
  }

  p{
    color: lightgreen;
  }

  #banner{
    padding-top : 20px; 
    border-radius: 20px;
  }

  footer{
    color : whitesmoke;
  }

  #profile{
    padding-top: 10px;
  }

  .profilepic{
    border: black;
    border-radius: 10px;
    border-width: 2px;
  }

  li{
    font-size: 80%;
  }